<div class="container">
  <div class="row">
    <div class="col-md-12 login_form_cover" *ngIf="!returnAttempting">
      <p>Flight Name: <strong>{{flightName}}</strong></p>
      <p>Flight Number: <strong>{{flightNumber}}</strong></p>
      <p>Flight Time: <strong>{{flightTime}}</strong></p>
      <br>
      <p>Flight Cost: <strong>$ {{flightCost}}</strong></p>
    </div>

    <div class="col-md-12 login_form_cover" *ngIf="returnAttempting">
      <p>Flight Name: <strong>{{flightName}}</strong></p>
      <p>Flight Number: <strong>{{flightNumber}}</strong></p>
      <p>Flight Time: <strong>{{flightTime}}</strong></p>
      <br>
      <p>Return Flight Name: <strong>{{flightNameReturn}}</strong></p>
      <p>Return Flight Number: <strong>{{flightNumberReturn}}</strong></p>
      <p>Return Flight Time: <strong>{{flightTimeReturn}}</strong></p>

      <br>
      <p>Flight Cost: <strong>$ {{ flightCostReturn}}</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md 12 login_form_cover">
      <form [formGroup]="submitForm" (ngSubmit) = "onSubmit()">

        <div class="row">
          <div class="col-md-4">First Name <span class="req">*</span></div>
          <div class="col-md-8">
            <div class="form-group adj_for_mat">
              <input type="text" class="form-control" formControlName="firstname" >

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">Last Name <span class="req">*</span></div>
          <div class="col-md-8">
            <div class="form-group adj_for_mat">
              <input type="text" class="form-control" formControlName="lastname">

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">Email <span class="req">*</span></div>
          <div class="col-md-8">
            <div class="form-group adj_for_date">
              <input type="email" class="form-control"  formControlName="email" email >

            </div>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-4">Mobile <span class="req">*</span></div>
          <div class="col-md-8">
            <div class="form-group adj_for_date">
              <input type="text"  formControlName="mobile" class="form-control"
              pattern="^[0-9]*$" minlength="10"
              maxlength="10">

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <div class="form-group d-flex justify-content-end">
              <button type="submit" class="btn btn-primary" [disabled]="!submitForm.valid" >Confirm Your Booking</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p><span class="req">*</span> Required fields</p>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>

